<div class='page-wrapper'>
  <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <span class="navbar-brand" href="#">Events List</span>
    <ul class="navbar-nav mr-auto">
      <li
        [ngClass]="{
          'nav-item': true,
          active: tabIndex === 0
        }"
        (click)="handleChangeTab(0)"
      >
        <span class="nav-link pointer-span">Summery </span>
      </li>
      <li
        [ngClass]="{
          'nav-item': true,
          active: tabIndex === 1
        }"
        (click)="handleChangeTab(1)"
      >
        <span class="nav-link pointer-span">List</span>
      </li>
    </ul>
    <button class="btn btn-primary" (click)="handleLogoutClick()">
      <span>Logout</span>
    </button>
  </nav>
  <app-summery-tab *ngIf="tabIndex === 0" [eventsData]="eventsData"></app-summery-tab>
  <app-list-tab *ngIf="tabIndex === 1" [eventsData]="eventsData"></app-list-tab>
</div>
