<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
<div class="filter-container d-flex align-items-center px-3 mt-2">
  <span class="mr-2">Filters:</span>
  <button
    *ngIf="campaignFilter !== null"
    type="button"
    class="btn btn-primary"
    (click)="handleRemoveFilter(EventFilterType.CAMPAIGN_NAME)"
  >
    Campaign Filter : {{ campaignFilter }}
  </button>
  <button
    *ngIf="eventTypeFilter !== null"
    type="button"
    class="btn btn-primary"
    (click)="handleRemoveFilter(EventFilterType.EVENT_TYPE)"
  >
    Event Type Filter : {{ eventTypeFilter }}
  </button>
  <button
    *ngIf="genderFilter !== null"
    type="button"
    class="btn btn-primary"
    (click)="handleRemoveFilter(EventFilterType.GENDER)"
  >
    Gender Filter : {{ genderFilter }}
  </button>
  <button
    *ngIf="deviceTypeFilter !== null"
    type="button"
    class="btn btn-primary"
    (click)="handleRemoveFilter(EventFilterType.APP_DEVICE_TYPE)"
  >
    Device Filter : {{ deviceTypeFilter }}
  </button>
</div>

<div class="row px-4">
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h2 class="card-title text-center">Campaign Name</h2>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="campaignGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddFilter(EventFilterType.CAMPAIGN_NAME, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h2 class="card-title text-center">Event Type</h2>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="eventTypeGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddFilter(EventFilterType.EVENT_TYPE, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h2 class="card-title text-center">Gender</h2>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            [results]="genderGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddFilter(EventFilterType.GENDER, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h2 class="card-title text-center">Device Type</h2>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="deviceTypeGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddFilter(EventFilterType.APP_DEVICE_TYPE, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
