<div class="filter-container d-flex align-items-center px-3 mt-2">
  <span class="mr-2">Filters:</span>
  <button
    *ngIf="campaignFilter !== null"
    type="button"
    class="btn btn-primary mr-2"
    (click)="handleAddRemoveFilter(EventFilterType.CAMPAIGN_NAME, null)"
  >
    Campaign Filter : {{ campaignFilter }}
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
  <button
    *ngIf="eventTypeFilter !== null"
    type="button"
    class="btn btn-primary mr-2"
    (click)="handleAddRemoveFilter(EventFilterType.EVENT_TYPE, null)"
  >
    Event Type Filter : {{ eventTypeFilter }}
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
  <button
    *ngIf="genderFilter !== null"
    type="button"
    class="btn btn-primary mr-2"
    (click)="handleAddRemoveFilter(EventFilterType.GENDER, null)"
  >
    Gender Filter : {{ genderFilter }}
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
  <button
    *ngIf="deviceTypeFilter !== null"
    type="button"
    class="btn btn-primary mr-2"
    (click)="handleAddRemoveFilter(EventFilterType.APP_DEVICE_TYPE, null)"
  >
    Device Filter : {{ deviceTypeFilter }}
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div>
<app-date-range-picker
  (updateDateRangeEvent)="updateDateRange($event)"
  [initialDateRange]="dateFilterRange"
>
</app-date-range-picker>
<div class="row px-4 m-0">
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Campaign Name</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="campaignGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.CAMPAIGN_NAME, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Event Type</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="eventTypeGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.EVENT_TYPE, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Gender</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            [results]="genderGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.GENDER, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Device Type</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="deviceTypeGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.APP_DEVICE_TYPE, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
