<div class="row px-4 m-0">
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Campaign Name</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="campaignGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.CAMPAIGN_NAME, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Event Type</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="eventTypeGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.EVENT_TYPE, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Gender</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            [results]="genderGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.GENDER, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-4 p-2">
    <div class="card card-body">
      <h5 class="card-title text-center">Device Type</h5>
      <div class="graph-container">
        <div class="graph-wrapper">
          <ngx-charts-pie-chart
            class="graph"
            [results]="deviceTypeGraphData"
            doughnut="true"
            labels="true"
            (select)="handleAddRemoveFilter(EventFilterType.APP_DEVICE_TYPE, $event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
