<div
  *ngIf="eventsData === null"
  class="d-flex flex-grow-1 justify-content-center align-items-center"
>
  <div class="page-loading-spinner spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="eventsData !== null" class="table">
  <table class="w-100">
    <thead class="table-header sticky-top">
      <!-- Campaign Header -->
      <tr>
        <th scope="col">
          ID
          <fa-icon
            [icon]="getSortIcon(SortColumn.ID)"
            [ngClass]="{
              'px-1': true,
              'sort-icon': true,
              'faded-sort': currentSortColumn !== SortColumn.ID
            }"
            (click)="handleSortColumn(SortColumn.ID)"
          >
          </fa-icon>
        </th>
        <th scope="col">
          Campaign Name
          <fa-icon
            [icon]="getSortIcon(SortColumn.CAMPAIGN_NAME)"
            [ngClass]="{
              'px-1': true,
              'sort-icon': true,
              'faded-sort': currentSortColumn !== SortColumn.CAMPAIGN_NAME
            }"
            (click)="handleSortColumn(SortColumn.CAMPAIGN_NAME)"
          >
          </fa-icon>
          <div ngbDropdown class="d-inline-block">
            <fa-icon
              ngbDropdownToggle
              [icon]="faFilter"
              [ngClass]="{
                'px-1': true,
                'faded-filter': filters.campaignFilter === null,
                'dropdown-no-carrot': true
              }"
            >
            </fa-icon>
            <div class="dropdown-list-limit-height" ngbDropdownMenu>
              <button
                *ngFor="let filterOption of campaignFilterOptions"
                [ngClass]="{
                  'selected-dropdown-item':
                    filterOption === filters.campaignFilter
                }"
                ngbDropdownItem
                (click)="
                  handleAddRemoveFilter(
                    EventFilterType.CAMPAIGN_NAME,
                    filterOption
                  )
                "
              >
                {{ filterOption }}
              </button>
            </div>
          </div>
        </th>
        <!-- Event Type Header -->
        <th scope="col">
          Event Type
          <fa-icon
            [icon]="getSortIcon(SortColumn.EVENT_TYPE)"
            [ngClass]="{
              'px-1': true,
              'sort-icon': true,
              'faded-sort': currentSortColumn !== SortColumn.EVENT_TYPE
            }"
            (click)="handleSortColumn(SortColumn.EVENT_TYPE)"
          >
          </fa-icon>
          <div ngbDropdown class="d-inline-block">
            <fa-icon
              ngbDropdownToggle
              [icon]="faFilter"
              [ngClass]="{
                'px-1': true,
                'faded-filter': filters.eventTypeFilter === null,
                'dropdown-no-carrot': true
              }"
            >
            </fa-icon>
            <div class="dropdown-list-limit-height" ngbDropdownMenu>
              <button
                *ngFor="let filterOption of eventTypeFilterOptions"
                [ngClass]="{
                  'selected-dropdown-item':
                    filterOption === filters.eventTypeFilter
                }"
                ngbDropdownItem
                (click)="
                  handleAddRemoveFilter(
                    EventFilterType.EVENT_TYPE,
                    filterOption
                  )
                "
              >
                {{ filterOption }}
              </button>
            </div>
          </div>
        </th>
        <!-- App User ID Header -->
        <th scope="col">
          App User ID
          <fa-icon
            [icon]="getSortIcon(SortColumn.APP_USER_ID)"
            [ngClass]="{
              'px-1': true,
              'sort-icon': true,
              'faded-sort': currentSortColumn !== SortColumn.APP_USER_ID
            }"
            (click)="handleSortColumn(SortColumn.APP_USER_ID)"
          >
          </fa-icon>
        </th>
        <!-- App User Gender Header -->
        <th scope="col">
          App User Gender<fa-icon
            [icon]="getSortIcon(SortColumn.APP_USER_GENDER)"
            [ngClass]="{
              'px-1': true,
              'sort-icon': true,
              'faded-sort': currentSortColumn !== SortColumn.APP_USER_GENDER
            }"
            (click)="handleSortColumn(SortColumn.APP_USER_GENDER)"
          >
          </fa-icon>
          <div ngbDropdown class="d-inline-block">
            <fa-icon
              ngbDropdownToggle
              [icon]="faFilter"
              [ngClass]="{
                'px-1': true,
                'faded-filter': filters.genderFilter === null,
                'dropdown-no-carrot': true
              }"
            >
            </fa-icon>
            <div class="dropdown-list-limit-height" ngbDropdownMenu>
              <button
                *ngFor="let filterOption of genderFilterOptions"
                [ngClass]="{
                  'selected-dropdown-item':
                    filterOption === filters.genderFilter
                }"
                ngbDropdownItem
                (click)="
                  handleAddRemoveFilter(EventFilterType.GENDER, filterOption)
                "
              >
                {{ filterOption }}
              </button>
            </div>
          </div>
        </th>
        <!-- Event Date Header -->
        <th scope="col">
          Event Date<fa-icon
            [icon]="getSortIcon(SortColumn.EVENT_DATE)"
            [ngClass]="{
              'px-1': true,
              'sort-icon': true,
              'faded-sort': currentSortColumn !== SortColumn.EVENT_DATE
            }"
            (click)="handleSortColumn(SortColumn.EVENT_DATE)"
          >
          </fa-icon>
        </th>
        <!-- App Device Type Header -->
        <th scope="col">
          App Device Type<fa-icon
            [icon]="getSortIcon(SortColumn.APP_DEVICE_TYPE)"
            [ngClass]="{
              'px-1': true,
              'sort-icon': true,
              'faded-sort': currentSortColumn !== SortColumn.APP_DEVICE_TYPE
            }"
            (click)="handleSortColumn(SortColumn.APP_DEVICE_TYPE)"
          >
          </fa-icon>
          <div ngbDropdown class="d-inline-block">
            <fa-icon
              ngbDropdownToggle
              [icon]="faFilter"
              [ngClass]="{
                'px-1': true,
                'faded-filter': filters.deviceTypeFilter === null,
                'dropdown-no-carrot': true
              }"
            >
            </fa-icon>
            <div class="dropdown-list-limit-height" ngbDropdownMenu>
              <button
                *ngFor="let filterOption of deviceTypeFilterOptions"
                [ngClass]="{
                  'selected-dropdown-item':
                    filterOption === filters.deviceTypeFilter
                }"
                ngbDropdownItem
                (click)="
                  handleAddRemoveFilter(
                    EventFilterType.APP_DEVICE_TYPE,
                    filterOption
                  )
                "
              >
                {{ filterOption }}
              </button>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of sortedData">
        <td>{{ event.id }}</td>
        <td>{{ event.campaignName }}</td>
        <td>{{ event.eventType }}</td>
        <td>{{ event.appUserId }}</td>
        <td>{{ event.appUserGender }}</td>
        <td>
          {{ event.eventDate.toLocaleDateString() }}
          {{ event.eventDate.toLocaleTimeString() }}
        </td>
        <td>{{ event.appDeviceType }}</td>
      </tr>
    </tbody>
  </table>
</div>
