:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .sort-icon {
        cursor: pointer;
    }

    .page-loading-spinner {
        width: 30vw;
        height: 30vw;
        font-size: 3rem;
    }
    .faded-sort {
        color: lightgray;
    }
    .faded-filter {
        color: lightgray;
    }
    .dropdown-no-carrot::after {
        display: none !important;
    }
    .dropdown-no-carrot::before {
        display: none !important;
    }
    .table-header {
        background-color: white;
    }

    //
    .selected-dropdown-item {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .dropdown-list-limit-height {
        max-height: 80vh;
        overflow-y: auto;
    }
}